* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  background-color: black;
  color: white;
  width: 100;
  font-family: "Open Sans", sans-serif;
}
#container {
  margin: 5vmin 40vmin;
}
#header {
  top: 0;
  border: 2px solid #aff4c6;
  padding: 10px 20px;
}
#header h1 {
  color: #aff4c6;
}
#board {
  height: 80vh;
  width: 100%;
  margin: 0;
  border: 2px solid #aff4c6;
  background-color: #aff4c6;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  gap: 0;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
}

.gridPattern {
  box-sizing: border-box;
  margin: 0;
  background-color: black;
  border: 2px solid red;
}
.btn_div {
  margin-top: 20px;
}
.snake {
  background-color: greenyellow;
  border: 0.25vmin solid black;
}
.food {
  background-color: red;
  border: 0.25vmin solid black;
}
